.card {
  width: 250px;
  height: 300px;
  background-color: pink;
  border-radius: 4px;
  overflow: hidden;
}

.card_image {
  display: block;
  width: 100%;
}

.image {
  width: 100%;
}

.card_desc {
  padding: 10px 20px;
}

.card_desc_title {
  font-size: 16px;
  margin-bottom: 6px;
}

.card_desc_para {
  font-size: 12px;
  margin-bottom: 6px;
}

.detail > span {
  margin-right: 10px;
}
